#history-header-image{
    height: 780px;
    width: 100%;
}
/* Ask for help for positioning bc they are totally not centered */
#history-header-text{
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
}
#history-header-button{
    position: absolute;
    top: 70%;
    left: 50%;
}
.history-header{
    position: relative;
    text-align: center;
    width: 100%;
}
.history-timetable{
    background: linear-gradient(180deg, #9EADEA 16.98%, #2E9B7B 99.98%, rgba(46, 155, 123, 0) 99.99%, #9EADEA 100%, #9EADEA 100%, #9EADEA 100%);
    height: 500px;
    width: 100%;
}
ul.tour-locations-list {
    list-style-type: none;
    font-size: 20 px;
}
.li-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    float:left;
    background-color: #2E9B7B
}
.li-options{
    padding-bottom: 20px;
}
.history-tour-map{
    width: 55%;
    height: 85%;
}
th,tr{
    width: 18%;
}
.tour-locations{
    float: right;
    padding-right: 20px;
}

/* tour carousel */

#tour-carousel-prev{
    width: 30px;
    height: 30px;
    background-color: #111D4A;
}
#tour-carousel-next{
    height: 30px;
    width: 30px;
    background-color: #111D4A;
}
.tour-locations-li{
    font-size: 20px;
}
.history-locations{
    background-color: #9EADEA;
    padding-bottom: 30px;
}
#carousel-history-image{
    width: 500px;
    height: 400px;
}
.history-carousel-arrows{
    font-weight: bold;
    right: 10px;
    position: absolute;
    left: 10px;
}


/* Problems I ran into: */
/* can't position button and Haarlem History in the middle */
/* first-child, second-child, etc. isn't working */
/* need to rename the class names for the li elements */