.btn-jazz {
  position: absolute;
  top: 70%;
  left: 45%;
  background-color: #92140C;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.btn-jazz:hover {
  box-shadow: 2px 5px #888888;
}

.jazz-logo {
  position: absolute;
  top: 20%;
  left: 10%;
}

.section-1 {
  background-color: #7A86B6;
  color: white;
  height: 150px;
  text-align: center;
}

.section-2 {
  background-color: white;
  height: 50px;
}

.section-3 {
  padding: 25px;
  background-color: white;
  border-color: black;
  border-style: solid;
  width: 90%;
  left: 5%;
  position: relative;
  border-radius: 20px;
  height: 100px;
  font-family: Source Sans Pro;
  top: -100px;
  font-size: 12px;
}


.jazz-schedule {
  background-color: #2E9B7B;
  padding: 5px;
  height: 1000px;
}

.jazz-title {
  border-bottom: 2px solid white;
  width: 60%;
  left: 20%;
  top: 50px;
  position: relative;
}

.dates {
  position: relative;
  top: 100px;
  left: 20%;
  bottom: 100px;
  border-bottom: 2px solid white;
  width: 60%;
  padding: 20px;
}

.button-container {
  background-color: white;
  border-radius: 30px;
  border: solid;
  border-color: #111D4A;
  color: #111D4A;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  width: 160px;
  height: 100px;
}

.button-container:hover {
  border: none;
  background-color: #CB8803;
}


/* Map components style*/

#map {
  height: 400px;
  width: 400px;
  position: relative;
  left: 5%;
  border: solid;
}

* {
  margin: 0;
  padding: 0;
}

.venues {
  background-color: #2E9B7B;
  padding: 25px;
}

.venues-container {
  background-color: white;
  position: relative;
  width: 70%;
  left: 15%;
  padding: 20px;
  border-radius: 35px;
  column-count: 2;
}

/* style from bootstarp components page */

/* style for detail pages component */

#detail-page-block {
  display: grid;
  /* grid-auto-columns:1fr; */
  position: relative;
  width: 90%;
  background: rgba(244, 237, 237, 0.3);
  height: 550px;

}

.artist-name {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row: 1;
}

.artist-description {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row: 2;
}

/* .artist-polaroids{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 6;
  } */
.polaroid1 {
  position: absolute;
  height: 300px;
  width: 250px;
  background-color: grey;
  z-index: 1;
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.polaroid2 {
  position: absolute;
  height: 300px;
  width: 250px;
  background-color: white;
  z-index: 2;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.polaroid3 {
  position: absolute;
  height: 300px;
  width: 250px;
  background-color: black;
  z-index: 3;
  grid-column: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.artist-songs {
  display: table;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row: 3;
}

.artist-songs img {
  height: 100px;
  width: 100px;
  background-color: white;
  border-radius: 20px;
  margin: 10px;
}

/* AUDIO PLAYER */
#overlay {
  position: relative;
  /* top:0; */
  /* left:0; */
  /* bottom:0; */
  /* right:0; */
  z-index: 9999;
  display: none;
}

.player {
  border-radius: 20px;
  width: 400px;
  height: 250px;
  position: absolute;
  box-shadow: 6px 6px 15px rgba(51, 51, 51, 0.5);
  overflow: hidden;
  background: #7A86B6;
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row: 4;
  z-index: 99;
  display: none;
}

.player #music-info {
  padding: 15px;
  background-image: url("https://www.bensound.com/bensound-img/evolution.jpg");
  height: 140px;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
}

.player #music-info .title {
  font-size: 23px;
  margin-bottom: 8px;
  z-index: 1;
}

.player #music-info .bg {
  width: 100%;
  box-shadow: 0 -100px 100px 100px rgba(0, 0, 0, 0.5);
}

.player #music-info .author {
  font-size: 14px;
  float: right;
}

.player #music-info .album {
  font-size: 14px;
}

.player .timestamp {
  position: absolute;
  width: 100%;
  bottom: 110px;
}

.player .timestamp #bar {
  width: 100%;
  height: var(--bar-height);
  background: #bbb;
}

.player .timestamp #current-time {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: var(--bar-height);
  background: #5453af;
  pointer-events: none;
}

.player .timestamp #current-time:after {
  content: "";
  width: 16px;
  height: 16px;
  background: #5453af;
  position: absolute;
  right: -8px;
  bottom: -4px;
  z-index: 9;
  border-radius: 50%;
  box-shadow: 0 0 3px 2px #eee;
}

.player .buttons {
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #ddd;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player .buttons .button {
  border: 1px solid #ddd;
  border-radius: 50%;
  text-align: center;
  margin: 7px;
  color: #333;
}

.player .buttons .button-small {
  width: var(--small);
  height: var(--small);
  line-height: var(--small);
}

.player .buttons .button-medium {
  width: var(--medium);
  height: var(--medium);
  line-height: var(--medium);
  font-size: 25px;
}

.player .buttons .button-large {
  width: var(--large);
  height: var(--large);
  line-height: var(--large);
  font-size: 35px;
}

.player .buttons .button-small:hover,
.player .buttons .button-medium:hover,
.player .buttons .button-large:hover {
  background: #5453af;
  color: #fff;
}

.cards {
  position: relative;
  top: 150px;
  width: 100%;
}

.card {
  min-height: 320px;
  padding: 20px;
}

.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 0 .5em;
  width: calc(100%/6);
}

.btn-carousel {
  position: absolute;
  top: -160px;
}

.container-pages {
  position: relative;
    top: 350px;
}

.map-text {
  font-size: 16px;
}

.locations {
  padding: 10px;
  padding-top: 20px;
}

.information {
  padding: 10px;
  padding-top: 20px;
}

.map-title {
  font-family: 'Baloo Chettan';
}



