.btn-jazz {
  position: absolute;
  top: 70%;
  left: 45%;
  background-color: #92140C;
  border-radius: 25px;
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.btn-jazz:hover {
  box-shadow: 2px 5px #888888;
}

.jazz-logo {
  position: absolute;
  top: 20%;
  left: 10%;
}

.section-1 {
  background-color: #7A86B6;
  color: white;
  height: 150px;
  text-align: center;
}

.section-2 {
  background-color: white;
  height: 50px;
}

.section-3 {
  padding: 25px;
  background-color: white;
  border-color: black;
  border-style: solid;
  width: 90%;
  left: 5%;
  position: relative;
  border-radius: 20px;
  height: 100px;
  font-family: Source Sans Pro;
  top: -100px;
  font-size: 12px;
}


.jazz-schedule {
  background-color: #2E9B7B;
  padding: 5px;
  height: 1000px;
}

.jazz-title {
  border-bottom: 2px solid white;
  width: 60%;
  left: 20%;
  top: 50px;
  position: relative;
}

.dates {
  position: relative;
  top: 100px;
  left: 20%;
  bottom: 100px;
  border-bottom: 2px solid white;
  width: 60%;
  padding: 20px;
}

.button-container {
  background-color: white;
  border-radius: 30px;
  border: solid;
  border-color: #111D4A;
  color: #111D4A;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  transition-duration: 0.4s;
  width: 160px;
  height: 100px;
}

.button-container:hover {
  border: none;
  background-color: #CB8803;
}


/* Map components style*/

#map {
  height: 400px;
  width: 400px;
  position: relative;
  left: 5%;
  border: solid;
}

* {
  margin: 0;
  padding: 0;
}

.venues {
  background-color: #2E9B7B;
  padding: 25px;
}

.venues-container {
  background-color: white;
  position: relative;
  width: 70%;
  left: 15%;
  padding: 20px;
  border-radius: 35px;
  column-count: 2;
}

.cards {
  position: relative;
  top: 150px;
  width: 100%;
}

.card {
  min-height: 320px;
  padding: 20px;
}

.cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 0 .5em;
  width: calc(100%/6);
}

.btn-carousel {
  position: absolute;
  top: -260px;
}

.container-pages {
  position: relative;
    top: 350px;
}

.map-text {
  font-size: 16px;
}

.locations {
  padding: 10px;
  padding-top: 20px;
}

.information {
  padding: 10px;
  padding-top: 20px;
}

.map-title {
  font-family: 'Baloo Chettan';
}

.carousel {
  position: relative;
  top: 200px;
}

