.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.img-fluid {
    position: relative;
    left: 50%;
}

.vh-100{
    position: relative;
    right: 10%;
}

.text-reset-password {
    padding-top: 20px;
    padding-bottom: 20px;
}

.reset-header {
    padding-top: 20px;
    padding-bottom: 20px;
}