
.title{
    top: 40%;
    left: 40%;
    position: absolute;
    color: white;
}
.festival-overview-header{
    height: 100%;
    align-items: center;
}
#buy-ticket-btn{
    position: absolute;
    top: 65%;
    left: 45%;
}
#see-schedule-btn{
    position: absolute;
    top: 80%;
    left: 45%;
}
#overview-header-image{
    width: 100%;
    height: auto;
    opacity: 95%;
}
.event-section{
    height: 550px;
    width: 100%;
    margin: 0px;
}
#yummy-section{
    display: inline-block;
    background-color: rgb(	158, 173, 234, 60%);
}
.festival-description-block{
    background-color: rgb(	158, 173, 234, 60%);
    position: relative;
    height: 400px;
}
.white-block{
    width: 80%;
    height: 80%;
    background: rgba(244, 237, 237, 0.3);
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    left: 10%;
    top: 10%; 
    align-content: center; 
    text-align: center;
    padding: 5%;          
}
.description{
    font-weight: bold;
    float: right;
    margin-left: 15%;
}
.right-text{
    align-content: center;
    float: left;
    margin-top: 5%;
    padding: 5%;
    width: 50%;
    height: 100%;
    position: relative;
}
.left-round{
    height: 100%;
    position: relative;
    width: 50%;
    border-radius: 26% 40% 40% 26% / 0% 50% 50% 0%;
    margin: 0px;
    float: left;
}
.right-round{
    height: 100%;
    position: relative;
    width: 50%;
    border-radius: 36% 25% 25% 37% / 49% 0% 0% 50%;
    margin: 0px;
    float: right;
}
#yummy-round{
    background-color: #2E9B7B;
}
.left-text{
    align-content: center;
    float: left;
    margin-top: 5%;
    padding: 5%;
    width: 50%;
    height: 100%;
    position: relative;
}
.picture-left{
    right: 50px;
    height: 90%;
    padding-top: 3%;
}
#history-section{
    background-color: #2E9B7B;
}
#history-picture-round{
    background-color: rgb(	158, 173, 234, 80%)
}
#dance-section{
    position: relative;
    top: 0;
}
#dance-title{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
}
#dance-event-btn{
    position: absolute;
    top: 70%;
    left: 45%;
}
.dance-image{
    opacity: 85%;
    position: relative;
    width: 100%;
}
#jazz-section{
    background-color: #7A86B6;
    position: relative;
}
#jazz-picture-round{
    background-color: white;
}
#kids-section{
    position: relative;
    background-color: white;
    margin-bottom: 20px;
}
#kids-picture-round{
    background-color: #7A86B6;
}
.schedule-section{
    background-color: #2E9B7B;
    height: 900px;
    width: 100%;
    position: relative;
}
.overview-schedule-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.day-card{
    height: auto;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    margin-top: 2%;
    padding: 10px;
}
.venue-section{
    height: 850px;
    background-color: #2E9B7B;
    position: relative;
}
.venue-section .card{
    margin: 5%;
    position: absolute;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}
.venue-section li{
    margin-top: 20px;
    list-style-type: none;
}
.schedule-section li{
    list-style-type: none;
    margin-top: 10px;
}
.schedule-section .date{
    font-weight: 700;
}
.venue-map-container{
    background-color: blue;
    height: 400px;
    width: 400px;
    margin-left: 10%;
}
#overview-right-pic{
    margin-top: 20px;
    margin-left: 20px;
}
#overview-left-pic{
    margin-top: 15px;
    margin-right: 30px;
}
    