.nav-section1 {
    height: 60px;
    background-color: #FFF8F0;
    display: flex;
    flex-direction: row;
}

.nav-section2 {
    height: 80px;
    background-color: #111D4A;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.language-options {
    margin-left: auto;
}

.remove-style {
    all: unset;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
    margin-left: 5%;
}

.selected-page {
    padding: 0px;
    gap: 8px;
    width: 180px;
    height: 67px;
    background: #FFF8F0;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.text-in-selected-page {
    font-family: 'Baloo Chettan';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #111D4A;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.unselected-page {
    padding: 0px;
    gap: 8px;
    width: 180px;
    height: 67px;
    background: #111D4A;
    border-radius: 10px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.text-in-unselected-page {
    width: 93px;
    height: 40px;
    font-family: 'Baloo Chettan';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF8F0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.drop-down-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    width: 180px;
    height: 67px;
    background: #111D4A;
    border-radius: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.text-in-drop-down-menu {
    width: 146px;
    height: 67px;
    font-family: 'Baloo Chettan';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF8F0;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo {
    margin: 0 auto;
}

.search-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 250px;
    height: 40px;
    right: 166px;
    top: 80px;
    background: #F7F8F9;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.search-button {
    width: 60px;
    height: 40px;
    right: 100px;
    top: 80px;
    border-radius: 8px;
    background-color: #FFCF99;
}

.cart-and-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items-in-cart {
    height: 35%;
    border-radius: 0px;
    background: white;
    width: 30%;
    display: none;
    top: 13%;
    position: absolute;
    z-index: 200;
}

.cart {
    height: 54px;
    margin-left: 1%;
    top: 72px;
    border-radius: 0px;
    background: #111D4A;
    display: block;
}

/* add changing color on hover */
.btn-purple:hover {
    background-color: #ffffff;
    border-radius: 25px;
    border: none;
    color: #7A86B6;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 10px #888888;
    font-weight: bold;
}

/* FOR THE INSTAGRAM FEED */
.homepage-instagram{
    height: 100px;
    background-color: #111D4A;
    text-align: center;
}
.homepage-instagram h2{
    color: aliceblue;
}
.ig_feed_container{
    width:100%; height: 100%; margin:0 auto; font-family:Arial, Helvetica, sans-serif;
    background: rgb(117,5,5);
    background: linear-gradient(0deg, rgba(117,5,5,1) 0%, rgba(62,45,253,0.6419817927170868) 75%);
    display: inline-block;
}

.ig_post_container{
    border: 5px solid #f1f1f1; margin-bottom:25px; margin-left:3%; width:20%; height:400px; float:left;
    justify-content: center;
    background: rgba(255, 255, 255, .4);
    margin-top: 20px;
    text-align: center;
    padding: 5px;
}

.ig_post_container img{
    width: 250px;
    height: auto;
    border: 5px solid #f1f1f1;
}

.ig_post_container .ig_post_details{
    padding:15px;
}

.ig_post_container .ig_view_link{
    margin-top:10px;
}